[submodule "lib/shellfire/cpucount"]
	path = lib/shellfire/cpucount
	url = git://github.com/shellfire-dev/cpucount.git
[submodule "lib/shellfire/core"]
	path = lib/shellfire/core
	url = https://github.com/shellfire-dev/core.git
[submodule "etc/shellfire/paths.d"]
	path = etc/shellfire/paths.d
	url = https://github.com/shellfire-dev/paths.d.git
[submodule "tutorial/overdrive/lib/shellfire/jsonreader"]
	path = tutorial/overdrive/lib/shellfire/jsonreader
	url = https://github.com/shellfire-dev/jsonreader
[submodule "tutorial/overdrive/lib/shellfire/unicode"]
	path = tutorial/overdrive/lib/shellfire/unicode
	url = https://github.com/shellfire-dev/unicode
[submodule "tutorial/overdrive/lib/shellfire/xmlwriter"]
	path = tutorial/overdrive/lib/shellfire/xmlwriter
	url = https://github.com/shellfire-dev/xmlwriter
